@keyframes warning {
    0% {
        opacity: 0%;
    }
    45% {
        opacity: 100%;
    }
    65% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes darkpulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.6);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@keyframes lightpulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes slide {
    0% {
        transform: translateY(5%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    user-select: none;
}

body {
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 500ms ease-in-out;
}

.dark {
    --bg-dark: #141414;
    --text-dark: #f8f8f8;
    --footer-dark: black;
    --text: var(--text-dark);
    --footer-color: var(--footer-dark);
    background-color: var(--bg-dark);
    color: var(--text);
}

.light {
    --bg-light: #f8f8f8;
    --text-light: #12181b;
    --footer-light: #e7e7e7;
    --text: var(--text-light);
    --footer-color: var(--footer-light);
    background-color: var(--bg-light);
    color: var(--text);
}


/* Logo */

.inv {
    filter: invert();
    transition: all 500ms ease-in-out;
}

.rev {
    filter: none;
    transition: all 500ms ease-in-out;
}


/* Stuff */

.themes {
    right: 0;
    top: 0;
    position: absolute;
    padding: 20px;
}

.theme-changer-light {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #1d1d1d;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: var(--text);
    text-align: center;
    transition: all 0.2s;
}

.theme-changer-light:hover {
    color: white;
    background-color: #1d1d1d;
    cursor: pointer;
}

.theme-changer-dark {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: var(--text);
    text-align: center;
    transition: all 0.2s;
}

.theme-changer-dark:hover {
    color: black;
    background-color: white;
    cursor: pointer;
}

header {
    margin-top: 100px;
}

header img {
    width: 200px;
    margin-top: -40px;
    filter: invert();
}

header h1 {
    font-weight: bolder;
    letter-spacing: 5px;
    padding: 10px;
}

header h2 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    padding: 10px;
}

h3 {
    padding: 30px;
}

.warning {
    animation: warning 5s linear;
    animation-iteration-count: infinite;
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-bottom: 50px;
}

.portfolio {
    margin: 0 auto 0 auto;
    width: 90%;
    animation: slide ease-out 2s;
}

.portfolio img {
    width: 100%;
    transition: all 1s ease;
}

.portfolio div {
    width: 400px;
    padding: 10px;
    display: inline-block;
}

.portfolio div:hover img {
    transform: scale(1.04);
}

.portfolio div:hover p {
    opacity: 1;
    font-weight: 400;
    transform: translateY(10px);
}

.portfolio div p {
    transition: all 0.8s ease;
    opacity: 0;
}

.contact {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.contact p {
    padding-top: 70px;
    padding-bottom: 30px;
    font-size: 20px;
}

.contact span {
    color: aqua;
    animation: rainbow 7s linear;
    font-weight: bolder;
    animation-iteration-count: infinite;
}

.contact a:hover {
    cursor: pointer;
}

.footer {
    margin-top: 50px;
    padding: 100px;
    color: var(--text);
    background-color: var(--footer-color);
}

.footer p {
    width: 100%;
    color: var(--text);
    background-color: var(--footer-color);
}

.btn-light {
    text-decoration: none;
    display: block;
    margin: 35px auto 0 auto;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-family: lato;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 80px;
    transition-property: filter, opacity, transform;
    transition-duration: 0.3s, 1s, 1s;
    transition-timing-function: ease;
    animation: lightpulse 2s ease;
    animation-iteration-count: infinite;
    color: black;
    background-color: #e7e7e7;
    border: 1px solid black;
}

.btn-dark {
    text-decoration: none;
    display: block;
    margin: 35px auto 0 auto;
    border-radius: 10px;
    display: block;
    cursor: pointer;
    font-family: lato;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    width: 80px;
    transition-property: filter, opacity, transform;
    transition-duration: 0.3s, 1s, 1s;
    transition-timing-function: ease;
    animation: darkpulse 2s ease;
    animation-iteration-count: infinite;
    color: white;
    background-color: black;
    border: 1px solid white;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffffff;
}

@media only screen and (max-width: 1300px) {
    .portfolio div p {
        opacity: 1;
    }
    .portfolio div:hover img {
        transform: scale(1);
    }
    .portfolio div:hover p {
        opacity: 1;
        font-weight: 400;
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 530px) {
    .portfolio div {
        width: 400px;
    }
    .theme-changer-light {
        font-size: 13px;
    }
    .theme-changer-dark {
        font-size: 13px;
    }
    header h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 470px) {
    .portfolio div {
        width: 300px;
    }
    .theme-changer-light {
        font-size: 10px;
    }
    .theme-changer-dark {
        font-size: 10px;
    }
}